<form class="mat-elevation-z8 content">
    <h1>Criando novo Livro</h1>

    <div class="form">
        <mat-form-field class="input-title">
            <mat-label>Titulo</mat-label>
            <input 
                type="text" 
                name="titulo" 
                placeholder="Ex. O Hobbit" 
                matInput 
                required 
                maxlength="100"
                [formControl]="titulo" 
                [(ngModel)]="livro.titulo">
            <mat-error *ngIf="titulo.invalid">{{ getMessageTitulo() }}</mat-error>
        </mat-form-field>

        <mat-form-field class="input-name-autor">
            <mat-label>Nome do Autor</mat-label>
            <input 
                type="text" 
                name="nome_autor"   
                placeholder="J. R. R. Tolkien" 
                matInput 
                required  
                maxlength="100"
                [formControl]="nome_autor" 
                [(ngModel)]="livro.nome_autor">
            <mat-error *ngIf="nome_autor.invalid">{{ getMessageAutor() }}</mat-error>
        </mat-form-field>
    
        <mat-form-field class="input-text-area">
            <mat-label>Texto</mat-label>
            <textarea 
                name="texto" 
                type="text" 
                placeholder="Ex. Lorem ipsum" 
                matInput 
                required 
                maxlength="2000000"
                [formControl]="texto" 
                [(ngModel)]="livro.texto">
            </textarea>
            <mat-error *ngIf="texto.invalid">{{ getMessageTexto() }}</mat-error>
        </mat-form-field>
    
        <div class="buttons">
            <!-- -->
            <button class="mat-elevation-z4 button-create" mat-raised-button color="basic" [disabled]="habilitaButton()"> SALVAR </button>
            <button (click)="cancel()" class="mat-elevation-z4 button-cancel" mat-raised-button color="warn"> CANCELAR </button>
        </div>
    </div>
    
</form>