form {
    width: 95%;
    margin: auto;
}

.title {
    margin: .8rem auto;
    text-align: center;

}

.subtitle {
    margin: .8rem auto;
    text-align: center;

}

.text {
    margin: .8rem auto;
    text-align: left;

}
button {
    margin-top: .5rem;
    color: rgb(0, 100, 255);;
}

button:hover {
    background-color: rgb(0, 100, 255);
    color: white;
    transition-duration: 0.5s;
}